article,aside,details,figcaption,figure,footer,header,hgroup,nav,section {
    display:block
}

audio,canvas,video {
    display:inline-block;
    *display:inline;
    *zoom:1
}

audio:not([controls]) {
    display:none
}

html {
    font-size:100%;
    -webkit-text-size-adjust:100%;
    -ms-text-size-adjust:100%
}

a {
    color:#069
}

a:focus {
    outline:thin dotted #333;
    outline:5px auto -webkit-focus-ring-color;
    outline-offset:-2px
}

a:hover,a:active {
    outline:0
}

sub,sup {
    position:relative;
    font-size:75%;
    line-height:0;
    vertical-align:baseline
}

sup {
    top:-.5em
}

sub {
    bottom:-.25em
}

img {
    max-width:100%;
    width:auto\9;
    height:auto;
    vertical-align:middle;
    border:0;
    -ms-interpolation-mode:bicubic
}

#map_canvas img {
    max-width:none
}

button,input,select,textarea {
    margin:0;
    font-size:100%;
    vertical-align:middle
}

button,input {
    *overflow:visible;
    line-height:normal
}

button::-moz-focus-inner,input::-moz-focus-inner {
    padding:0;
    border:0
}

button,input[type="button"],input[type="reset"],input[type="submit"] {
    cursor:pointer;
    -webkit-appearance:button
}

input[type="search"] {
    -webkit-box-sizing:content-box;
    -moz-box-sizing:content-box;
    -ms-box-sizing:content-box;
    -o-box-sizing:content-box;
    box-sizing:content-box;
    -webkit-appearance:textfield
}

input[type="search"]::-webkit-search-decoration,input[type="search"]::-webkit-search-cancel-button {
    -webkit-appearance:none
}

textarea {
    overflow:auto;
    vertical-align:top
}

.has-placeholder {
    position:relative;
    display:block;
    float:left
}

.has-placeholder label {
    position:absolute;
    top:0;
    left:0;
    vertical-align:middle;
    color:#646464;
    line-height:43px;
    height:100%;
    width:100%;
    text-decoration:none;
    padding:0 15px;
    text-shadow:0 1px 0 #fff;
    overflow:hidden
}

textarea {
    background-color:#fff;
    border:solid 1px #bfbfbf;
    border-top-left-radius:3px;
    border-top-right-radius:3px;
    border-bottom-left-radius:3px;
    border-bottom-right-radius:3px;
    border-top-left-radius:3px;
    border-bottom-left-radius:3px;
    border-top-right-radius:3px;
    border-bottom-right-radius:3px;
    box-shadow:inset 0 1px 0 0 #E0E0E0;
    display:inline-block;
    vertical-align:middle;
    color:#646464;
    line-height:1em;
    text-decoration:none;
    padding:10px;
    box-shadow:inset 0 1px 0 0 #dfd8d8;
    width:280px
}

div.select-box-focus {
    outline:0;
    border:1px solid #5B9DD9;
    -webkit-box-shadow:0 0 5px 1px #5B9DD9;
    -moz-box-shadow:0 0 5px 1px #5B9DD9;
    box-shadow:0 0 5px 1px #5B9DD9
}

.select-box {
    z-index:0;
    position:relative;
    display:inline-block;
    border-top-left-radius:3px;
    border-top-right-radius:3px;
    border-bottom-left-radius:3px;
    border-bottom-right-radius:3px;
    border-top-left-radius:3px;
    border-bottom-left-radius:3px;
    border-top-right-radius:3px;
    border-bottom-right-radius:3px;
    width:auto;
    background-color:#f9f9f9;
    background-color:#f9f9f9;
    background-image:-webkit-gradient(linear,left top,left bottom,color-stop(0%,#f9f9f9),color-stop(100%,#e0dada));
    background-image:-webkit-linear-gradient(top,#f9f9f9,#e0dada);
    background-image:-moz-linear-gradient(top,#f9f9f9,#e0dada);
    background-image:-ms-linear-gradient(top,#f9f9f9,#e0dada);
    background-image:-o-linear-gradient(top,#f9f9f9,#e0dada);
    background-image:linear-gradient(top,#f9f9f9,#e0dada);
    border:solid 1px #d3d3d3;
    border-top-left-radius:3px;
    border-top-right-radius:3px;
    border-bottom-left-radius:3px;
    border-bottom-right-radius:3px;
    border-top-left-radius:3px;
    border-bottom-left-radius:3px;
    border-top-right-radius:3px;
    border-bottom-right-radius:3px;
    display:inline-block;
    vertical-align:middle;
    color:#fff!important;
    line-height:43px;
    text-decoration:none;
    padding:0 15px;
    box-shadow:inset 0 1px 0 0 #fff;
    text-shadow:0 1px 0 rgba(0,0,0,0.3);
    padding:0;
    overflow:hidden
}

.select-box .select-box-label {
    height:16px;
    overflow:hidden;
    display:block;
    line-height:16px;
    float:left;
    position:absolute;
    top:0;
    color:#bababa;
    padding:0 15px;
    height:100%;
    color:#646464;
    line-height:30px;
    text-shadow:0 1px 0 #fff
}

.select-box a:hover {
    text-decoration:none
}

.select-box select {
    position:relative;
    left:0;
    top:0;
    width:100%;
    height:30px;
    -webkit-appearance:none;
    z-index:1003;
    padding-right:45px
}

.select-box-icon {
    z-index:0;
    position:absolute;
    right:13px;
    top:-7px;
    right:0;
    height:100%;
    width:24px;
    text-decoration:none;
    display:block;
    font-family:"icons";
    color:#404040;
    font-size:.8em;
    text-align:left
}

.ui-button {
    background-color:false;
    background-color:#f0f0f0;
    background-image:-webkit-gradient(linear,left top,left bottom,color-stop(0%,#f0f0f0),color-stop(100%,#c9c9c9));
    background-image:-webkit-linear-gradient(top,#f0f0f0,#c9c9c9);
    background-image:-moz-linear-gradient(top,#f0f0f0,#c9c9c9);
    background-image:-ms-linear-gradient(top,#f0f0f0,#c9c9c9);
    background-image:-o-linear-gradient(top,#f0f0f0,#c9c9c9);
    background-image:linear-gradient(top,#f0f0f0,#c9c9c9);
    border:solid 1px #cacaca;
    border-top-left-radius:3px;
    border-top-right-radius:3px;
    border-bottom-left-radius:3px;
    border-bottom-right-radius:3px;
    border-top-left-radius:3px;
    border-bottom-left-radius:3px;
    border-top-right-radius:3px;
    border-bottom-right-radius:3px;
    display:inline-block;
    vertical-align:middle;
    color:#5f5f5f!important;
    line-height:43px;
    text-decoration:none;
    padding:0 15px;
    box-shadow:inset 0 1px 0 0 #fff;
    text-shadow:0 1px 0 rgba(255,255,255,0.3)
}

input.ui-button,button.ui-button {
    padding-left:10px;
    padding-right:10px
}

.ui-button-main {
    background-color:#B67A54;
    background-color:#B67A54;
    background-image:-webkit-gradient(linear,left top,left bottom,color-stop(0%,#B67A54),color-stop(100%,#D89C76));
    background-image:-webkit-linear-gradient(top,#B67A54,#D89C76);
    background-image:-moz-linear-gradient(top,#B67A54,#D89C76);
    background-image:-ms-linear-gradient(top,#B67A54,#D89C76);
    background-image:-o-linear-gradient(top,#B67A54,#D89C76);
    background-image:linear-gradient(top,#B67A54,#D89C76);
    border:solid 1px #1f91a3;
    border-top-left-radius:3px;
    border-top-right-radius:3px;
    border-bottom-left-radius:3px;
    border-bottom-right-radius:3px;
    border-top-left-radius:3px;
    border-bottom-left-radius:3px;
    border-top-right-radius:3px;
    border-bottom-right-radius:3px;
    display:inline-block;
    vertical-align:middle;
    color:#fff!important;
    line-height:43px;
    text-decoration:none;
    padding:0 15px;
    box-shadow:inset 0 1px 0 0 #a0e3ed;
    text-shadow:0 1px 0 rgba(0,0,0,0.3)
}

a.ui-button {
    line-height:34px
}

.ui-button-middle {
    height:36px;
    font-size:1em;
    line-height:1em
}

.doublebutton {
    float:right
}

.doublebutton a {
    border:solid 1px #d1d1d1;
    background-color:#f7f7f7;
    -webkit-border-radius:2px;
    border-radius:2px;
    cursor:default;
    font-size:11px;
    font-weight:700;
    text-align:center;
    white-space:nowrap;
    height:16px;
    outline:0;
    padding:5px 6px;
    display:block;
    float:left
}

.doublebutton a span {
    text-indent:-9999px;
    float:left;
    width:16px;
    height:16px;
    background-image:url(../images/icons.png);
    cursor:pointer
}

.doublebutton .list-button {
    margin-right:-1px;
    border-top-right-radius:0;
    border-bottom-right-radius:0;
    border-right:none
}

.doublebutton .list-button span {
    background-position:-16px -16px
}

.doublebutton .grid-button {
    border-top-left-radius:0;
    border-bottom-left-radius:0;
    border-left:none
}

span.active a.grid-button span {
    background-position:-16px 0
}

span.active a.list-button {
    border:solid 1px #d1d1d1;
    background-color:#f7f7f7
}

span.active a.list-button span {
    background-position:0 -16px
}

.active a.grid-button,.doublebutton a.list-button {
    background-color:#B67A54;
    border-color:#23a4b8
}

.alert_form {
    background-color:#f2f2f2;
    padding:15px 10px
}

.alert_form button {
    width:100%
}

.alert_form input {
    width:184px;
    margin-bottom:12px
}

.form-vertical .control-group {
    clear:both;
    margin-bottom:10px
}

.form-container .controls input,.form-container .meta input {
    background-color:#fff;
    border:solid 1px #bfbfbf;
    border-top-left-radius:3px;
    border-top-right-radius:3px;
    border-bottom-left-radius:3px;
    border-bottom-right-radius:3px;
    border-top-left-radius:3px;
    border-bottom-left-radius:3px;
    border-top-right-radius:3px;
    border-bottom-right-radius:3px;
    box-shadow:inset 0 1px 0 0 #E0E0E0;
    display:inline-block;
    vertical-align:middle;
    color:#646464;
    line-height:43px;
    text-decoration:none;
    padding:0 15px;
    box-shadow:inset 0 1px 0 0 #dfd8d8;
    width:280px;
    padding:0 10px;
    height:30px;
    line-height:30px;
    font-size:1em
}

.form-container .ui-drop-files {
    width:280px;
    padding:0 10px;
    height:70px;
    text-align:center;
    font-size:18px;
    line-height:70px;
    color:rgba(0,0,0,0.5);
    border-top-left-radius:8px;
    border-top-right-radius:8px;
    border-bottom-left-radius:8px;
    border-bottom-right-radius:8px;
    border-top-left-radius:8px;
    border-bottom-left-radius:8px;
    border-top-right-radius:8px;
    border-bottom-right-radius:8px
}

.form-container .controls {
    font-size:1em
}

.form-container .main-button {
    background-color:#B67A54;
    background-color:#B67A54;
    background-image:-webkit-gradient(linear,left top,left bottom,color-stop(0%,#B67A54),color-stop(100%,#D89C76));
    background-image:-webkit-linear-gradient(top,#B67A54,#D89C76);
    background-image:-moz-linear-gradient(top,#B67A54,#D89C76);
    background-image:-ms-linear-gradient(top,#B67A54,#D89C76);
    background-image:-o-linear-gradient(top,#B67A54,#D89C76);
    background-image:linear-gradient(top,#B67A54,#D89C76);
    border:solid 1px #1f91a3;
    border-top-left-radius:3px;
    border-top-right-radius:3px;
    border-bottom-left-radius:3px;
    border-bottom-right-radius:3px;
    border-top-left-radius:3px;
    border-bottom-left-radius:3px;
    border-top-right-radius:3px;
    border-bottom-right-radius:3px;
    display:inline-block;
    vertical-align:middle;
    color:#fff!important;
    line-height:43px;
    text-decoration:none;
    padding:0 15px;
    box-shadow:inset 0 1px 0 0 #a0e3ed;
    text-shadow:0 1px 0 rgba(0,0,0,0.3)
}

.form-container .checkbox input,input[type="checkbox"],.form-container .meta input[type="checkbox"],.form-container .controls input[type="checkbox"],input[type="radio"],.form-container .meta input[type="radio"],.form-container .controls input[type="radio"] {
    width:auto;
    height:auto;
    vertical-align:middle;
    margin-top:-2px;
    padding:0;
    border:none;
    box-shadow:none
}

.meta_list .meta ul {
    margin:5px 0 0;
    padding:0;
    list-style:none;
    float:left
}

.meta_list .meta ul li {
    clear:both;
    list-style:none
}

.meta_list .meta ul li label {
    width:auto;
    margin-left:5px;
    float:none
}

.meta_list .meta input[type="checkbox"] {
    margin-top:10px
}

.meta_list .meta .cf_date_interval {
    width:100px
}

.meta_list .meta:after {
    content:"";
    clear:both
}

.form-container .checkbox {
    margin-bottom:5px
}

.form-container .checkbox label {
    font-size:.85em
}

.form-horizontal .actions {
    border-top:solid 1px #eaeaea;
    padding:10px 10px 15px 155px;
    margin:0 25px
}

.form-horizontal .actions a {
    font-size:.725em
}

.form-horizontal label {
    float:left;
    width:160px;
    padding-top:7px;
    text-align:right;
    font-size:.85em
}

.form-horizontal .select-box {
    width:300px
}

.form-horizontal .controls {
    margin-left:180px;
    line-height:32px
}

.form-horizontal .controls label {
    float:none;
    width:auto;
    padding-top:0;
    text-align:left
}

.form-horizontal .control-group,.form-horizontal .meta_list .meta {
    clear:both;
    margin-bottom:10px
}

.form-container-box {
    border:solid 1px #eaeaea;
    margin:0 auto;
    width:700px;
    border-top-left-radius:4px;
    border-top-right-radius:4px;
    border-bottom-left-radius:4px;
    border-bottom-right-radius:4px;
    border-top-left-radius:4px;
    border-bottom-left-radius:4px;
    border-top-right-radius:4px;
    border-bottom-right-radius:4px
}

.form-container-box .header {
    background-color:#f7f7f7;
    padding:10px 15px;
    margin-bottom:30px
}

.form-container-box .header h1 {
    margin:0;
    line-height:1.2em
}

body.item-post .select-box {
    margin-bottom:10px
}

#item-post select {
    width:300px
}

.form-container .photos input {
    width:100%;
    border:0;
    margin:0;
    padding:0;
    box-shadow:none
}

.photos_div {
    margin-bottom:20px
}

.form-container .controls #photos a {
    font-size:12px!important
}

button {
    background-color:false;
    background-color:#f0f0f0;
    background-image:-webkit-gradient(linear,left top,left bottom,color-stop(0%,#f0f0f0),color-stop(100%,#c9c9c9));
    background-image:-webkit-linear-gradient(top,#f0f0f0,#c9c9c9);
    background-image:-moz-linear-gradient(top,#f0f0f0,#c9c9c9);
    background-image:-ms-linear-gradient(top,#f0f0f0,#c9c9c9);
    background-image:-o-linear-gradient(top,#f0f0f0,#c9c9c9);
    background-image:linear-gradient(top,#f0f0f0,#c9c9c9);
    border:solid 1px #cacaca;
    border-top-left-radius:3px;
    border-top-right-radius:3px;
    border-bottom-left-radius:3px;
    border-bottom-right-radius:3px;
    border-top-left-radius:3px;
    border-bottom-left-radius:3px;
    border-top-right-radius:3px;
    border-bottom-right-radius:3px;
    display:inline-block;
    vertical-align:middle;
    color:#5f5f5f!important;
    line-height:43px;
    text-decoration:none;
    padding:0 15px;
    box-shadow:inset 0 1px 0 0 #fff;
    text-shadow:0 1px 0 rgba(255,255,255,0.3)
}

.ui-drop-files {
    box-shadow:none;
    border:4px dashed rgba(0,0,0,0.2);
    height:100px;
    background:rgba(0,0,0,0.1)
}

.bordered-box {
    border:solid 1px #eaeaea;
    border-top-left-radius:4px;
    border-top-right-radius:4px;
    border-bottom-left-radius:4px;
    border-bottom-right-radius:4px;
    border-top-left-radius:4px;
    border-bottom-left-radius:4px;
    border-top-right-radius:4px;
    border-bottom-right-radius:4px;
    padding:10px;
    font-size:.75em
}

.bordered-box h2 {
    font-size:1.2em;
    margin-top:0;
    font-family:"Helvetica Neue",Helvetica,Arial,sans-serif;
    font-weight:700
}

.form-container .photos input {
    width:100%
}

.form-container .photos img {
    width:120px
}

.photos_div a {
    display:block
}

.arrow-up {
    width:0;
    height:0;
    border-left:5px solid transparent;
    border-right:5px solid transparent;
    border-bottom:5px solid #B67A54
}

.hover .arrow-up {
    border-bottom-color:#fff
}

.arrow-down {
    width:0;
    height:0;
    border-left:5px solid transparent;
    border-right:5px solid transparent;
    border-top:5px solid #B67A54
}

.hover .arrow-down {
    border-top-color:#fff
}

.arrow-left {
    width:0;
    height:0;
    border-top:5px solid transparent;
    border-bottom:5px solid transparent;
    border-right:5px solid #B67A54
}

.hover .arrow-left {
    border-right-color:#fff
}

.arrow-right {
    width:0;
    height:0;
    border-top:5px solid transparent;
    border-bottom:5px solid transparent;
    border-left:5px solid #B67A54
}

.hover .arrow-right {
    border-left-color:#fff
}

.paginate {
    padding:25px;
    text-align:center;
    clear:both
}

.paginate li {
    display:inline;
    list-style-type:none
}

.paginate a,.paginate span {
    text-decoration:none;
    margin:0 1px;
    padding:5px 10px;
    border:1px solid #EEE;
    border-top-left-radius:3px;
    border-top-right-radius:3px;
    border-bottom-left-radius:3px;
    border-bottom-right-radius:3px;
    border-top-left-radius:3px;
    border-bottom-left-radius:3px;
    border-top-right-radius:3px;
    border-bottom-right-radius:3px
}

.paginate a.previous {
    margin-right:15px
}

.paginate a.next {
    margin-left:15px
}

.paginate strong {
    border:1px solid #EEE;
    color:#F30;
    margin:0 1px;
    padding:5px 10px
}

.paginate em {
    border:1px solid #EEE;
    color:#AAA;
    font-style:normal;
    margin:0 1px;
    padding:5px 10px;
    text-decoration:none
}

.paginate em.previous {
    margin-right:15px
}

.paginate em.next {
    margin-left:15px
}

.searchPaginationSelected,.paginate a:hover {
    font-weight:700;
    background-color:#B67A54;
    color:#fff
}

.see_by {
    float:right;
    border:solid 1px #D1D1D1;
    background-color:#F7F7F7;
    -webkit-border-radius:2px;
    border-radius:2px;
    cursor:default;
    font-size:13px;
    font-weight:400;
    text-align:center;
    white-space:nowrap;
    height:16px;
    outline:0;
    padding:5px 6px;
    display:block;
    margin-right:10px;
    position:relative
}

.see_by span {
    float:left
}

.see_by label {
    float:right;
    margin:0;
    padding:0 18px 0 5px;
    color:#1b7e8d
}

.see_by ul {
    position:absolute;
    right:-1px;
    margin:22px 0 0;
    padding:8px 10px;
    list-style:none;
    text-align:right;
    background-color:#B67A54;
    border:solid 1px #23a4b8;
    border-top-left-radius:2px;
    border-top-right-radius:2px;
    border-bottom-left-radius:2px;
    border-bottom-right-radius:2px;
    border-top-left-radius:2px;
    border-bottom-left-radius:2px;
    border-top-right-radius:2px;
    border-bottom-right-radius:2px;
    display:none
}

.see_by ul a {
    font-size:1em;
    font-weight:500;
    color:#fff
}

.see_by .arrow-up,.see_by .arrow-down,.see_by .arrow-right,.see_by .arrow-left {
    position:absolute;
    right:6px;
    top:11px
}

.arrow-envelope {
    position:absolute;
    right:-1px;
    top:-1px
}

.hover .arrow-envelope {
    background-color:#B67A54;
    border:solid 1px #23a4b8;
    width:21px;
    height:28px;
    border-bottom:none;
    z-index:3
}

.hover ul {
    display:block
}

.wrapper-flash {
    font-weight:700
}

.flashmessage {
    font-size:14px;
    padding:15px 0;
    width:100%;
    top:10px;
    z-index:999;
    text-align:center;
    color:#fff;
    position:relative
}

.flashmessage-warning,.help-box {
    background-color:#d0a52a;
    border:solid 1px #93741e
}

.flashmessage-error {
    background-color:#c44e20;
    border:solid 1px #873616
}

.flashmessage-ok {
    background-color:#839b44;
    border:solid 1px #4f5e29
}

.flashmessage-info {
    background-color:#30a0ef;
    border:solid 1px #2477b2
}

.help-box {
    padding:5px 10px;
    display:inline-block;
    color:#fff;
    font-size:14px;
    margin:10px 0;
    border-top-left-radius:4px;
    border-top-right-radius:4px;
    border-bottom-left-radius:4px;
    border-bottom-right-radius:4px;
    border-top-left-radius:4px;
    border-bottom-left-radius:4px;
    border-top-right-radius:4px;
    border-bottom-right-radius:4px
}

.flashmessage .ico-close {
    position:absolute;
    top:14px;
    right:17px;
    float:right;
    font-size:18px;
    line-height:18px;
    color:#fff;
    text-shadow:none;
    text-decoration:none;
    font-weight:700;
    cursor:pointer
}

.flashmessage-error .close {
    color:#B94A48
}

.flashmessage-warning .close {
    color:#C09853
}

.flashmessage-success .close,.flashmessage-information .close {
    color:#3A87AD
}

#error_list,.error_list {
    background-color:#F2DEDE;
    border:solid 2px #EED3D7;
    color:#B94A48;
    border-top-left-radius:4px;
    border-top-right-radius:4px;
    border-bottom-left-radius:4px;
    border-bottom-right-radius:4px;
    border-top-left-radius:4px;
    border-bottom-left-radius:4px;
    border-top-right-radius:4px;
    border-bottom-right-radius:4px;
    padding:10px;
    list-style:none;
    display:none;
    margin:0 10px 20px
}

#error_list li,.error_list li {
    list-style:none;
    padding:2px 0 2px 18px
}

#error_list li label,.error_list li label {
    margin-top:0;
    float:none;
    width:auto
}

.user-card {
    background-color:#f7f7f7;
    position:relative;
    padding-left:120px;
    height:120px;
    border-top-left-radius:4px;
    border-top-right-radius:4px;
    border-bottom-left-radius:4px;
    border-bottom-right-radius:4px;
    border-top-left-radius:4px;
    border-bottom-left-radius:4px;
    border-top-right-radius:4px;
    border-bottom-right-radius:4px;
    margin-bottom:25px
}

.user-card ul {
    padding:15px;
    margin:0;
    list-style:none
}

.user-card .name {
    font-size:1.5em;
    margin-bottom:15px
}

.user-card .website {
    font-size:.725em
}

.user-card .location,.user-card .adress {
    font-size:.725em
}

.user-card img {
    position:absolute;
    left:0;
    top:0;
    border-top-left-radius:4px;
    border-bottom-left-radius:4px;
    width:120px
}

@font-face {
    font-family:"Osclass";
    font-weight:400;
    src:url(../fonts/osclass-regular.woff)
}

@font-face {
    font-family:"Osclass";
    font-weight:100;
    src:url(../fonts/osclass-extra-light.woff)
}

@font-face {
    font-family:"icons";
    src:url(../fonts/icons.eot);
    src:url(../fonts/icons.eot?#iefix) format("embedded-opentype"),url(../fonts/icons.woff) format("woff"),url(../fonts/icons.ttf) format("truetype"),url(../fonts/icons.svg#untitledregular) format("svg");
    font-weight:400;
    font-style:normal
}

html {
    -webkit-font-smoothing:antialiased;
    -webkit-text-size-adjust:100%;
    -moz-text-size-adjust:100%;
    -ms-text-size-adjust:100%;
    text-size-adjust:100%;
    font-size:100%;
    line-height:1.125em;
    font-family:"Helvetica Neue","HelveticaNeue",Helvetica,Arial,Verdana,sans-serif;
    color:#404040
}

.icons {
    font-size:32px;
    line-height:32px
}

.icons :after {
    display:inline-block;
    font-family:"icons"
}

.ico-search:after {
    content:"s"
}

.ico-menu:after {
    content:"m"
}

.ico-grid:after {
    content:"g"
}

body {
    margin:0;
    padding:0;
    font-family:"Helvetica Neue",Helvetica,Arial,sans-serif;
    color:#333
}

.wrapper {
    width:980px;
    margin-left:auto;
    margin-right:auto
}

#responsive-trigger {
    display:none
}

fieldset {
    border:0;
    margin:0;
    padding:0
}

h1,h2,h3,h4,h5 {
    font-weight:700;
    font-family:"Osclass";
    color:#666;
    letter-spacing:-.03em;
    line-height:1em;
    margin-top:0
}

h1 {
    font-size:2.2em
}

h2 {
    font-size:1.8em
}

h3 {
    font-size:1.5em
}

h4 {
    font-size:1.3em
}

h5 {
    font-size:1.15em
}

.clear {
    clear:both
}

body.search #sidebar,body.user #sidebar {
    float:left;
    width:210px
}

body.search #main,body.user #main {
    float:right;
    width:728px
}

body.search .list-header .actions {
    height:35px
}

.resp-toogle {
    display:none
}

.title-has-actions {
    border-bottom:solid 1px #eaeaea;
    margin-bottom:10px
}

.title-has-actions h1,.title-has-actions h2,.title-has-actions h3 {
    float:left;
    margin-bottom:0
}

.title-has-actions a {
    float:left;
    margin-left:10px;
    font-size:.825em;
    line-height:2em
}

.flashmessage-404 {
    background-color:#FCF8E3;
    border:solid 1px #FBEED5;
    color:#C09853;
    border-radius:5px;
    font-size:15px;
    -webkit-border-radius:5px;
    -moz-border-radius:5px;
    padding:10px 15px;
    margin-top:25px
}

.flashmessage-404 ul {
    list-style:disc;
    padding:10px 0 10px 25px
}

body.not-found .categories h2,body.not-found .categories h3 {
    float:left;
    width:25%;
    font-size:13px;
    font-weight:400;
    margin:3px 0
}

body.not-found .categories {
    margin-top:10px
}

body.not-found fieldset.main {
    padding:10px 0
}

body.not-found #uniform-sCategory {
    display:none
}

body.not-found h1 {
    font-size:24px;
    margin-bottom:20px
}

body.not-found #query {
    background-color:#fff;
    border:solid 1px #bfbfbf;
    border-top-left-radius:3px;
    border-top-right-radius:3px;
    border-bottom-left-radius:3px;
    border-bottom-right-radius:3px;
    border-top-left-radius:3px;
    border-bottom-left-radius:3px;
    border-top-right-radius:3px;
    border-bottom-right-radius:3px;
    box-shadow:inset 0 1px 0 0 #E0E0E0;
    display:inline-block;
    vertical-align:middle;
    color:#646464;
    line-height:43px;
    text-decoration:none;
    padding:0 15px;
    box-shadow:inset 0 1px 0 0 #dfd8d8;
    width:280px;
    padding:0 10px;
    height:34px;
    line-height:30px;
    font-size:1em
}

.ads_300,.ads_728,.ads_468 {
    background-color:#FDF6E5;
    display:block;
    margin:15px 0
}

.ads_300 {
    width:300px;
    min-height:250px
}

.ads_728 {
    width:728px;
    min-height:90px
}

.ads_468 {
    width:468px;
    min-height:60px
}

#footer {
    clear:both;
    margin-top:50px;
    padding-bottom:30px;
    border-top:solid 1px #eaeaea;
    padding-top:15px;
    font-size:.725em
}

#footer ul {
    float:right
}

#footer a {
    text-decoration:none
}

#footer a:hover {
    text-decoration:underline
}

#footer li {
    display:inline;
    margin-left:10px
}

.footer-links,#footer ul {
    list-style:none;
    padding:0;
    margin:0;
    clear:both
}

.footer-links li {
    float:left;
    width:31%;
    padding-right:2%;
    margin-bottom:5px;
    font-size:.725em
}

#footer .resp-toogle .publish {
    padding:0;
    margin:15px 0;
    display:block
}

#footer .resp-toogle .publish a {
    background-color:#d94b35;
    background-color:#d94b35;
    background-image:-webkit-gradient(linear,left top,left bottom,color-stop(0%,#d94b35),color-stop(100%,#be2e18));
    background-image:-webkit-linear-gradient(top,#d94b35,#be2e18);
    background-image:-moz-linear-gradient(top,#d94b35,#be2e18);
    background-image:-ms-linear-gradient(top,#d94b35,#be2e18);
    background-image:-o-linear-gradient(top,#d94b35,#be2e18);
    background-image:linear-gradient(top,#d94b35,#be2e18);
    border:solid 1px #a3301f;
    border-top-left-radius:3px;
    border-top-right-radius:3px;
    border-bottom-left-radius:3px;
    border-bottom-right-radius:3px;
    border-top-left-radius:3px;
    border-bottom-left-radius:3px;
    border-top-right-radius:3px;
    border-bottom-right-radius:3px;
    display:inline-block;
    vertical-align:middle;
    color:#fff!important;
    line-height:43px;
    text-decoration:none;
    padding:0 15px;
    box-shadow:inset 0 1px 0 0 #edaba0;
    text-shadow:0 1px 0 rgba(0,0,0,0.3);
    width:100%;
    -webkit-box-sizing:border-box;
    -moz-box-sizing:border-box;
    -ms-box-sizing:border-box;
    -o-box-sizing:border-box;
    box-sizing:border-box;
    margin:0;
    font-size:1.2em;
    padding:0
}

#header {
    background-color:#B67A54;
    width:100%;
    height:auto;
    display:block;
    position:relative;
    margin-bottom:15px;
    padding-bottom:25px
}

#header .wrapper {
    position:relative
}

#header .ads_header {
    width:728px;
    margin-left:auto;
    margin-right:auto;
    padding:10px 0
}

#header #logo {
    color:#fff;
    font-family:"Osclass";
    border:none;
    font-size:1.5em;
    line-height:1.5em;
    padding-top:20px;
    padding-bottom:10px
}

#header #logo a {
    font-size:1.5em;
    line-height:.8em;
    font-weight:700;
    text-decoration:none;
    color:#fff
}

#header .publish a {
    background-color:#ce3d27;
    background-color:#ce3d27;
    background-image:-webkit-gradient(linear,left top,left bottom,color-stop(0%,#ce3d27),color-stop(100%,#a72915));
    background-image:-webkit-linear-gradient(top,#ce3d27,#a72915);
    background-image:-moz-linear-gradient(top,#ce3d27,#a72915);
    background-image:-ms-linear-gradient(top,#ce3d27,#a72915);
    background-image:-o-linear-gradient(top,#ce3d27,#a72915);
    background-image:linear-gradient(top,#ce3d27,#a72915);
    border:solid 1px #8d2a1b;
    border-top-left-radius:3px;
    border-top-right-radius:3px;
    border-bottom-left-radius:3px;
    border-bottom-right-radius:3px;
    border-top-left-radius:3px;
    border-bottom-left-radius:3px;
    border-top-right-radius:3px;
    border-bottom-right-radius:3px;
    display:inline-block;
    vertical-align:middle;
    color:#fff!important;
    line-height:43px;
    text-decoration:none;
    padding:0 15px;
    box-shadow:inset 0 1px 0 0 #e9988b;
    text-shadow:0 1px 0 rgba(255,255,255,0.3)
}

#header #logo span {
    color:#fff;
    font-family:"Osclass";
    font-weight:100;
    text-decoration:none;
    border:none;
    font-size:.8em;
    line-height:1em;
    display:block
}

.main-search {
    background-color:transparent;
    width:966px;
    padding:6px;
    height:46px;
    border:none;
    margin:0 auto;
    position:relative;
    margin-top:15px;
}

.main-search .has-placeholder {
    float:none
}

.main-search input {
    background-color:#f6f6f6;
	border:none;
    border-radius:3px;
    display:inline-block;
    vertical-align:middle;
    color:#646464;
    line-height:43px;
    text-decoration:none;
    padding:0 15px;
    height:43px;
    width:100%;
	outline:0;
}

.main-search .selector {
    padding-left:42px;
    padding-right:12px
}

.main-search .reset-padding {
    padding-left:0
}

.main-search .ui-button {
    background-color:#934821 !important;
    background:#934821;
	border:none;
    display:inline-block;
    vertical-align:middle;
    color:#fff!important;
    line-height:43px;
    text-decoration:none;
    padding:0 15px;
    height:43px
}

.main-search .cell {
    display:table-cell;
    width:100%;
    vertical-align:top
}

#header .nav {
    position:absolute;
    right:0;
    top:10px;
    padding:0;
    margin:0;
    list-style:none
}

#header .nav li {
    float:left;
    position:relative
}

#header .nav li.search,#header .nav li.cat {
    display:none
}

#header .nav li a,#header .nav li span {
    color:#934821;
	text-decoration:none;
    font-size:.875em
}

#header .nav li {
    color:#934821;
	margin-left:5px;
	background:#fff;
	padding:5px 10px;
	border-radius:3px;
}

#header .nav li:hover {
    color:#fff;
	background:#934821;
}

#header .nav li:hover a{
    color:#fff;
}

#header .nav li.publish {
    clear:both;
    float:right;
    margin-top:10px
}

.main-search .select-box .select-box-label {
    line-height:43px
}

.main-search .select-box select {
    width:auto;
    height:42px
}

.main-search .select-box-icon {
    top:0
}

.wrapper-flash {
    margin-bottom:35px
}

div.breadcrumb {
    line-height:1.05em;
    font-size:.75em;
    height:auto;
    margin:0;
    width:auto;
    padding:10px 0;
    border-bottom:1px solid #eaeaea
}

ul.breadcrumb {
    list-style:none;
    margin:0;
    padding:0
}

ul.breadcrumb li {
    float:left;
    padding:0 2px;
    font-weight:400
}

.r-list {
    display:none;
    margin:0 40px 0 0;
    padding:0;
    list-style:none
}

.latest_ads {
    padding-top:25px
}

.latest_ads h1 {
    float:left
}

.latest_ads .actions {
    float:right;
    margin-top:5px
}

body.home .r-list {
    display:block
}

body.home #main {
    width:640px;
    float:left;
    margin-top:-20px 40px 0 0
}

.tbl {
    display:block;
    width:100%
}

div.first_cel ul {
    margin:0
}

.cell_3 {
    width:33%;
    float:left
}

.cell_3 ul {
    margin:0;
    margin-left:20px
}

.r-list li {
    white-space:nowrap;
    overflow:hidden;
    text-overflow:ellipsis
}

.r-list li .r-list li li {
    float:none;
    width:100%
}

.r-list li>li:nth-child(4n),.r-list li .clear {
    clear:both
}

ul.r-list li h1 {
    margin:25px 0 10px;
    padding:0;
    font-size:1em;
    overflow:hidden;
    text-overflow:ellipsis
}

ul.r-list li h1 a {
    font-size:1em
}

ul.r-list li h1 span {
    font-weight:400
}

ul.r-list li a,ul.r-list li span {
    text-decoration:none;
    font-size:.8125em
}

ul.r-list li ul {
    list-style:none;
    margin:0;
    padding:0
}

.list-header {
    margin-bottom:15px;
    z-index:3;
    position:relative
}

.listing-card-list {
    margin:0;
    padding:0;
    list-style:none;
    clear:both
}

.see_more_link {
    clear:both
}

.counter-search {
    float:left;
    line-height:32px
}

#main h5 {
    margin-bottom:10px
}

#related-searches {
    padding-top:25px
}

#related-searches h5 {
    margin-bottom:10px;
    font-size:1em
}

.listing-card {
    clear:both;
    padding:10px 0;
    margin:0;
    border:0;
    border-bottom:1px solid #ECECEC;
    position:relative;
    width:100%;
    display:table
}

.listing-card .listing-basicinfo,.listing-card .listing-attributes {
    display:block;
    vertical-align:top;
    width:auto
}

.listing-card .listing-attributes {
    width:auto
}

.listing-card .currency-value {
    white-space:nowrap;
    font-weight:700;
    color:#78c042
}

.listing-card .listing-data {
    display:table-row;
    width:100%
}

.listing-card .listing-detail {
    width:auto;
    margin-left:105px
}

.listing-card .listing-cell {
    display:table;
    width:100%
}

.listing-card .listing-thumb {
    float:left
}

.listing-card .listing-thumb img {
    height:85px;
    width:95px
}

.listing-card .listing-attributes {
    font-size:.78em;
    color:#777;
    padding:4px 0 8px;
    line-height:1em
}

.listing-card .listing-attributes a {
    color:#777;
    font-weight:700
}

.listing-card .listing-attributes a {
    text-decoration:none
}

.listing-card .listing-attributes a:hover {
    text-decoration:underline
}

.premium-list li.listing-card,li.listing-card.premium {
    background-color:#FCFCD7
}

.listing-grid .last {
    margin-right:0
}

.listing-grid .listing-card {
    float:left;
    width:190px;
    padding:6px;
    background-color:#FFF;
    border:1px solid #ECECEC;
    margin:0 9px 9px 0;
    position:relative;
    display:block;
    clear:none
}

.listing-grid .listing-card .listing-attributes .location {
    display:block;
    white-space:nowrap;
    overflow:hidden;
    text-overflow:ellipsis
}

.listing-grid .listing-card .listing-attributes .location a {
    display:inline
}

.listing-grid .listing-card img {
    width:100%;
    height:auto;
    float:none
}

.listing-grid .currency-value {
    display:block
}

.listing-grid .listing-detail {
    margin-left:0
}

.listing-grid .listing-basicinfo,.listing-grid .listing-data {
    width:100%;
    display:block
}

.listing-grid .listing-thumb {
    width:100%
}

.listing-grid .listing-cell {
    display:block
}

.listing-grid .listing-basicinfo p {
    display:none
}

.listing-grid .listing-basicinfo a {
    white-space:nowrap;
    overflow:hidden;
    text-overflow:ellipsis;
    width:100%;
    display:inline-block
}

.listing-grid .g-hide {
    display:none
}

body.search .listing-grid .last {
    margin-right:0
}

body.search .listing-grid .listing-card {
    width:161px
}

body.home .listing-grid .first {
    clear:both
}

#sidebar {
    width:300px;
    float:right
}

#sidebar fieldset {
    margin:0;
    padding:0;
    border:none
}

#sidebar h3 {
    margin:0;
    margin-bottom:10px;
    line-height:1em;
    font-size:1em
}

#sidebar fieldset {
    padding:14px 0 16px;
    border-bottom:solid 1px #eaeaea;
    font-size:.8125em;
    line-height:.8125em
}

#sidebar input {
    vertical-align:bottom
}

#sidebar .input-text,#sidebar input[type="text"] {
    background-color:#fff;
    border:solid 1px #bfbfbf;
    border-top-left-radius:3px;
    border-top-right-radius:3px;
    border-bottom-left-radius:3px;
    border-bottom-right-radius:3px;
    border-top-left-radius:3px;
    border-bottom-left-radius:3px;
    border-top-right-radius:3px;
    border-bottom-right-radius:3px;
    box-shadow:inset 0 1px 0 0 #E0E0E0;
    display:inline-block;
    vertical-align:middle;
    color:#646464;
    line-height:43px;
    text-decoration:none;
    padding:0 15px;
    box-shadow:inset 0 1px 0 0 #dfd8d8;
    width:100%;
    padding:0 10px;
    height:24px;
    line-height:24px;
    -webkit-box-sizing:border-box;
    -moz-box-sizing:border-box;
    -ms-box-sizing:border-box;
    -o-box-sizing:border-box;
    box-sizing:border-box
}

#sidebar ul.category,#sidebar ul.category ul {
    padding:0;
    margin:0;
    list-style:none
}

ul.sidebar-list,ul.user_menu {
    padding:0;
    margin:0;
    list-style:none
}

body.user #sidebar {
    border-right:solid 1px #eaeaea
}

#sidebar ul.category li,ul.sidebar-list li,ul.user_menu li {
    padding:3px 0;
    line-height:1.15em
}

ul.user_menu li {
    padding:0 0 12px;
    font-size:.8125em;
    line-height:.8125em
}

#sidebar ul.category ul {
    padding-left:15px
}

#sidebar .show-sub a {
    font-weight:700
}

#sidebar .show-sub li a {
    font-weight:400
}

#sidebar .price-slice input,#sidebar .two_input input {
    width:65px;
    padding:0 5px;
    margin-right:2px;
    white-space:nowrap;
    overflow:hidden;
    text-overflow:ellipsis
}

#sidebar .two_input input {
    width:70px
}

#sidebar .price-slice span {
    margin-right:0
}

#sidebar button {
    background-color:#B67A54;
    background-color:#B67A54;
    background-image:-webkit-gradient(linear,left top,left bottom,color-stop(0%,#B67A54),color-stop(100%,#D89C76));
    background-image:-webkit-linear-gradient(top,#B67A54,#D89C76);
    background-image:-moz-linear-gradient(top,#B67A54,#D89C76);
    background-image:-ms-linear-gradient(top,#B67A54,#D89C76);
    background-image:-o-linear-gradient(top,#B67A54,#D89C76);
    background-image:linear-gradient(top,#B67A54,#D89C76);
    border:solid 1px #1f91a3;
    border-top-left-radius:3px;
    border-top-right-radius:3px;
    border-bottom-left-radius:3px;
    border-bottom-right-radius:3px;
    border-top-left-radius:3px;
    border-bottom-left-radius:3px;
    border-top-right-radius:3px;
    border-bottom-right-radius:3px;
    display:inline-block;
    vertical-align:middle;
    color:#fff!important;
    line-height:43px;
    text-decoration:none;
    padding:0 15px;
    box-shadow:inset 0 1px 0 0 #a0e3ed;
    text-shadow:0 1px 0 rgba(0,0,0,0.3);
    line-height:30px;
    font-size:.85em
}

#sidebar .actions {
    padding:20px 0
}

#sidebar .plugin-hooks h6 {
    margin:0;
    margin-bottom:10px;
    line-height:1em;
    font-size:1em;
    font-weight:400;
    font-family:"Osclass";
    color:#666
}

#sidebar .plugin-hooks .row {
    margin-bottom:10px
}

#sidebar .select-box {
    width:100%
}

#sidebar a {
    text-decoration:none
}

#sidebar a:hover {
    text-decoration:underline
}

.widget-box {
    background-color:#f7f7f7;
    padding:10px;
    margin-bottom:15px;
    border-radius:4px;
    -webkit-border-radius:4px;
    -moz-border-radius:4px
}

.widget-box h3 {
    margin:0
}

.widget-box ul {
    margin:0;
    padding:0;
    list-style:none
}

.widget-box li a {
    text-decoration:none;
    white-space:nowrap;
    overflow:hidden;
    text-overflow:ellipsis;
    -webkit-box-sizing:border-box;
    -moz-box-sizing:border-box;
    -ms-box-sizing:border-box;
    -o-box-sizing:border-box;
    box-sizing:border-box;
    width:100%;
    font-weight:400;
    font-size:.8125em;
    display:block;
    padding:4px 5px;
    border-radius:0;
    margin:-1px 0;
    position:relative;
    border-bottom:solid 1px #eaeaea;
    border-top:solid 1px #eaeaea
}

.widget-box li li a:hover {
    background-color:#8bdce9;
    border-color:#f7f7f7;
    color:#fff;
    z-index:2;
    border-radius:3px
}

body.item #sidebar .widget-box,body.user-public-profile #sidebar .widget-box {
    padding:20px
}

body.item #sidebar .form-container .controls input,body.item #sidebar .form-container .controls textarea,body.user-public-profile #sidebar .form-container .controls input,body.user-public-profile #sidebar .form-container .controls textarea {
    width:238px
}

body.item #sidebar .form-container label,body.user-public-profile #sidebar .form-container label {
    font-size:.75em
}

body.item #contact h2,body.user-public-profile #contact h2 {
    margin-top:0
}

body.item #main,body.user-public-profile #main {
    width:640px;
    float:left
}

.item-photos .main-photo {
    width:550px;
    float:left
}

.item-photos .thumbs {
    float:right;
    width:79px
}

.item-photos .thumbs img {
    margin-bottom:12px;
    border:solid 2px #eaeaea
}

.item-header {
    margin-top:-10px;
    background:#f7f7f7;
    padding:10px;
    border-top-left-radius:4px;
    border-top-right-radius:4px;
    border-bottom-left-radius:4px;
    border-bottom-right-radius:4px;
    border-top-left-radius:4px;
    border-bottom-left-radius:4px;
    border-top-right-radius:4px;
    border-bottom-right-radius:4px;
    font-size:.875em;
    margin-bottom:15px;
    font-size:.75em
}

.item-header #type_dates {
    float:right
}

.item-header #type_dates em {
    font-style:normal
}

#item_location {
    list-style:none;
    margin:0;
    padding:0
}

#item_location li {
    display:inline
}

#description {
    clear:both;
    padding-top:5px
}

div.mark_as {
    height:32px;
    width:100%;
    border:none;
    background:transparent;
    margin-bottom:15px
}

.mark_as a {
    width:100%;
    height:auto;
    display:block;
    top:0;
    left:0;
    position:absolute
}

.mark_as .select-box-label {
    border:solid 1px #f2f2f2;
    position:relative;
    float:none;
    border-top-left-radius:4px;
    border-top-right-radius:4px;
    border-bottom-left-radius:4px;
    border-bottom-right-radius:4px;
    border-top-left-radius:4px;
    border-bottom-left-radius:4px;
    border-top-right-radius:4px;
    border-bottom-right-radius:4px;
    background:#f7f7f7
}

.similar_ads h2 {
    margin-top:35px
}

.admin-options {
    font-size:.725em
}

.admin-options a {
    margin:0 5px
}

#comments {
    margin-top:25px
}

body.item h1 .price {
    font-weight:400;
    font-size:24px;
    float:right;
    background-color:#FCF8E3;
    padding:5px 10px
}

.item #comments h3 {
    font-size:1em
}

.item #comments {
    clear:both;
    float:left;
    margin-bottom:35px;
    width:100%
}

.item #comments .comments_list {
    border-bottom:1px dotted #DDD;
    margin-bottom:20px
}

.item #comments .comment {
    background:url(../images/comments_quotes.gif) no-repeat 10px 0;
    margin-bottom:15px;
    padding:7px 0 0 60px
}

.item #comments .comment h3 {
    color:#666;
    margin-bottom:5px
}

.item #comments .comment h3 em {
    color:#888;
    font-size:12px;
    font-weight:400
}

.item #comments .comment p {
    color:#878787;
    font-style:italic;
    line-height:18px
}

.item #comments .pagination {
    text-align:right;
    margin-right:10px;
    margin-bottom:15px
}

.item #comments .pagination a {
    border:1px dotted #AAA;
    padding:5px 8px
}

.item #comments .pagination a.searchPaginationSelected {
    background-color:#f7f7f7
}

.item #comments .pagination a.searchPaginationNext,.item #comments a.searchPaginationPrev,.item #comments .pagination a.searchPaginationFirst,.item #comments a.searchPaginationLast {
    border:0;
    text-decoration:none
}

.item #comments .pagination a.searchPaginationNext:hover,.item #comments a.searchPaginationPrev:hover,.item #comments .pagination a.searchPaginationFirst:hover,.item #comments a.searchPaginationLast:hover {
    background-color:#fff
}

.item #comments a:hover {
    background-color:#f7f7f7
}

@media only screen and (max-width: 740px) {
.wrapper,#footer {
    padding-left:10px;
    padding-right:10px;
    width:auto
}

.has-placeholder {
    float:none
}

div#main,body.home #main,body.search #main,body.user #main,body.item #main,body.user-public-profile #main {
    width:auto;
    float:none;
    clear:both
}

#responsive-trigger {
    display:block
}

#sidebar {
    width:100%
}

#header {
    padding-bottom:0
}

#footer {
    text-align:center
}

#footer ul {
    float:none;
    font-size:1.15em;
    margin-bottom:15px
}

.flashmessage {
    padding:15px 40px 15px 15px;
    width:auto
}

.contact_button a {
    margin-bottom:10px
}

div#recaptcha_widget {
    width:100%!important
}

div#recaptcha_image {
    width:100%!important;
    height:auto!important
}

div#recaptcha_image>img {
    width:100%!important
}

#header {
    height:auto;
    margin-bottom:20px
}

#header #logo {
    font-size:1.7em;
    letter-spacing:-.07em;
    padding-top:10px;
    padding-bottom:10px;
    margin-left:10px
}

#header #logo span {
    display:none
}

#header .wrapper {
    padding-left:0;
    padding-right:0;
    width:100%;
    position:relative
}

.main-search {
    top:100%;
    margin-left:0;
    left:0;
    position:absolute;
    width:100%;
    padding-left:0;
    padding-right:0;
    border-width:0 0 1px;
    border-bottom-left-radius:0;
    border-bottom-right-radius:0;
    border-top-left-radius:0;
    border-top-right-radius:0;
    display:none;
    position:absolute;
    margin-top:0
}

.main-search .cell {
    display:table-cell;
    width:100%;
    padding-left:11px;
    vertical-align:top
}

.main-search .cell:last-child {
    padding-left:42px;
    padding-right:11px
}

.main-search input {
    width:100%
}

.main-search .selector {
    display:none
}

.main-search .reset-padding {
    padding-left:0
}

#header .nav {
    top:0;
    height:100%;
    vertical-align:middle
}

#header .nav li {
    height:100%
}

#header .nav li a {
    height:100%;
    padding:0 15px;
    background-color:#23a4b8;
    color:#fff;
    display:table;
    border-left:solid 1px #1b7e8d;
    font-size:30px;
    margin-left:0
}

#header .nav li.active a,#header .nav li a:hover {
    background-color:#1b7e8d;
    color:#fff
}

#header .nav li .icons:after {
    display:table-cell;
    vertical-align:middle
}

#header .nav li {
    display:none
}

#header .nav li.search,#header .nav li.cat {
    display:block
}

body.item #sidebar .widget-box {
    padding:20px
}

body.item #sidebar .form-container .controls input,body.item #sidebar .form-container .controls textarea {
    width:238px
}

body.item #sidebar .form-container label {
    font-size:.75em
}

body.item #contact h2 {
    margin-top:0
}

.alert_form {
    background-color:transparent
}

#alert_email {
    width:100%;
    -webkit-box-sizing:border-box;
    -moz-box-sizing:border-box;
    -ms-box-sizing:border-box;
    -o-box-sizing:border-box;
    box-sizing:border-box
}

.form-container .controls input,#sidebar .input-text {
    height:32px
}

input[type="checkbox"] {
    width:auto;
    height:auto
}

textarea,body.item #sidebar .form-container .controls input,body.item #sidebar .form-container .controls textarea,.form-container .controls input,#sidebar .input-text,button,.ui-button {
    width:100%;
    -webkit-box-sizing:border-box;
    -moz-box-sizing:border-box;
    -ms-box-sizing:border-box;
    -o-box-sizing:border-box;
    box-sizing:border-box
}

ul.r-list {
    width:100%;
    float:none;
    margin:0;
    padding:0;
    list-style:none;
    border:none;
    background-color:transparent;
    text-shadow:none
}

ul.r-list:after {
    content:".";
    display:block;
    clear:both;
    visibility:hidden;
    line-height:0;
    height:0
}

ul.r-list li {
    position:relative;
    margin-bottom:5px;
    margin-right:0;
    padding:0;
    -webkit-box-sizing:border-box;
    -moz-box-sizing:border-box;
    -ms-box-sizing:border-box;
    -o-box-sizing:border-box;
    box-sizing:border-box
}

ul.r-list>li:nth-child(2n) {
    padding-left:5px
}

ul.r-list>li:nth-child(odd) {
    clear:both
}

.r-list>li.clear,.r-list>li:nth-child(4n) {
    clear:none
}

ul.r-list li a.sub-category {
    text-decoration:none;
    white-space:nowrap;
    overflow:hidden;
    text-overflow:ellipsis;
    -webkit-box-sizing:border-box;
    -moz-box-sizing:border-box;
    -ms-box-sizing:border-box;
    -o-box-sizing:border-box;
    box-sizing:border-box;
    width:100%;
    font-weight:700;
    display:inline-block;
    padding:10px;
    border-radius:3px;
    border-style:solid;
    border-width:1px;
    box-shadow:0 1px 0 rgba(255,255,255,0.75);
    font-size:.8em;
    border-color:#eaeaea;
    color:#069;
    background-color:#f7f7f7;
    text-shadow:0 1px 1px #fff
}

ul.r-list li h1 {
    text-decoration:none;
    white-space:nowrap;
    overflow:hidden;
    text-overflow:ellipsis;
    -webkit-box-sizing:border-box;
    -moz-box-sizing:border-box;
    -ms-box-sizing:border-box;
    -o-box-sizing:border-box;
    box-sizing:border-box;
    width:100%;
    font-weight:700;
    display:inline-block;
    padding:10px;
    border-radius:3px;
    border-style:solid;
    border-width:1px;
    box-shadow:0 1px 0 rgba(255,255,255,0.75);
    border-color:#eaeaea;
    color:#069;
    background-color:#f7f7f7;
    text-shadow:0 1px 1px #fff
}

ul.r-list li h1 {
    margin:0
}

ul.r-list li span {
    display:none
}

ul.r-list li ul {
    -webkit-transition:opacity 1s ease-out;
    opacity:0;
    height:0;
    overflow:hidden
}

ul.r-list li.active h1,ul.r-list li.active a {
    background-color:#B67A54;
    color:#fff;
    border-color:#23a4b8;
    text-shadow:0 1px 1px #23a4b8
}

ul.r-list li span.collapse {
    width:16px;
    height:16px;
    margin-right:10px;
    display:inline-block
}

ul.r-list li.active ul {
    opacity:1;
    height:auto;
    margin:0;
    padding:5px 0 0;
    margin-bottom:5px
}

ul.r-list li.active ul li {
    padding:0
}

ul.r-list li.active ul li a {
    border-color:#eaeaea;
    color:#069;
    background-color:#f7f7f7;
    text-shadow:0 1px 1px #fff;
    font-size:.82em
}

ul.r-list li ul li {
    float:none;
    width:100%
}

div.cell_3:nth-child(2n) {
    margin:0 1%;
    width:31%
}

.select-box {
    width:100%;
    -webkit-box-sizing:border-box;
    -moz-box-sizing:border-box;
    -ms-box-sizing:border-box;
    -o-box-sizing:border-box;
    box-sizing:border-box
}

.select-box select {
    width:100%
}

body.item-post #footer .resp-toogle {
    display:none
}

body.display-cat .r-list {
    display:block
}

body.display-search .main-search,body.home .main-search {
    display:table
}

body.display-search #header,body.home #header {
    margin-bottom:80px
}

.resp-toogle {
    display:block
}

body.display-filters div#sidebar {
    display:block
}

.show-filters-btn {
    display:inline-block;
    border:solid 1px #d1d1d1;
    background-color:#f7f7f7;
    -webkit-border-radius:2px;
    border-radius:2px;
    cursor:pointer;
    font-size:1em;
    line-height:16px;
    font-weight:700;
    text-align:center;
    white-space:nowrap;
    height:16px;
    outline:0;
    padding:5px 6px;
    text-decoration:none;
    color:#9e9e9e
}

.form-container-box {
    width:auto
}

.form-container .checkbox {
    margin-bottom:15px
}

.form-container .checkbox input {
    width:auto
}

.form-horizontal .actions {
    margin:0;
    padding-left:0;
    padding-right:0
}

.form-horizontal label {
    float:none;
    width:100%;
    font-size:.85em
}

.form-horizontal .controls {
    width:auto;
    margin-left:0
}

body.item-post .select-box {
    margin-bottom:10px
}

#item-post select {
    width:100%
}

.form-horizontal .select-box {
    width:100%
}

.listing-grid .listing-card,body.search .listing-grid .listing-card {
    width:32%;
    padding:0;
    border:0;
    margin:1%
}

.listing-grid .listing-detail {
    border:solid 1px #ECECEC
}

.listing-grid .listing-thumb {
    float:none
}

.listing-grid .listing-thumb img {
    height:auto;
    width:92%;
    margin:4%;
    float:left
}

.listing-grid .listing-cell {
    display:block;
    width:92%;
    padding:4%
}

.listing-grid .listing-basicinfo p {
    display:none
}

.listing-grid .listing-basicinfo a {
    white-space:nowrap;
    overflow:hidden;
    text-overflow:ellipsis;
    width:100%;
    display:block
}

.listing-grid .listing-card:nth-child(3n),body.search .listing-card:nth-child(3n) {
    margin-right:0
}

.listing-grid .listing-card:nth-child(3n+1),body.search .listing-grid .listing-card:nth-child(3n+1) {
    margin-left:0;
    clear:both
}

body.not-found .categories h2,body.not-found .categories h3 {
    float:none;
    width:100%
}

body.item #sidebar,body.user-public-profile #sidebar {
    margin-top:20px
}

.item-photos .thumbs {
    float:none;
    margin-top:10px;
    width:100%;
    clear:both
}

.item-photos .main-photo {
    width:100%;
    float:none
}

.item-photos .main-photo img {
    width:100%
}

body.search #sidebar,body.user #sidebar {
    width:auto;
    float:none;
    margin-bottom:40px
}

body.search #content {
    position:relative;
    padding-top:100px
}

body.user #sidebar {
    margin-top:15px
}

body.search .list-header {
    position:absolute;
    top:0;
    width:100%;
    left:0;
    height:80px
}

body.search #sidebar,body.user #sidebar {
    display:none;
    background-color:#f7f7f7;
    border:solid 1px #eaeaea;
    padding:10px 15px 5px;
    width:auto;
    float:none;
    border-top-left-radius:4px;
    border-top-right-radius:4px;
    border-bottom-left-radius:4px;
    border-bottom-right-radius:4px;
    border-top-left-radius:4px;
    border-bottom-left-radius:4px;
    border-top-right-radius:4px;
    border-bottom-right-radius:4px
}

body.search #content h1 {
    display:block;
    margin:0;
    font-size:1.5em
}

.resp-wrapper {
    padding:0 10px
}

body.search .list-header .actions {
    padding:10px 0;
    clear:both
}

body.display-filters .show-filters-btn {
    background-color:#B67A54;
    border-color:#23a4b8;
    color:#fff
}

#header .ads_header,.ads_300,.ads_728,.ads_468 {
    display:none
}
}

@media only screen and (max-width: 640px) {
body .item-header #type_dates {
    float:none
}

body div.cell_3,body div.cell_3:nth-child(2n) {
    margin:0;
    width:100%
}
}

@media only screen and (max-width: 480px) {
ul.r-list li {
    float:none;
    width:100%
}

ul.r-list>li:nth-child(2n),body.search ul.r-list>li:nth-child(2n) {
    padding-left:0
}

.listing-grid .listing-card,body.search .listing-grid .listing-card {
    width:49%;
    clear:none
}

.listing-grid .listing-card:nth-child(2n),body.search .listing-grid .listing-card:nth-child(2n) {
    margin-right:0;
    margin-left:1%;
    clear:none
}

.listing-grid .listing-card:nth-child(2n+1),body.search .listing-grid .listing-card:nth-child(2n+1) {
    margin-left:0;
    margin-right:1%;
    clear:both!important
}

body.home .listing-grid .first {
    clear:none
}
}

#plugin-hook .row {
    clear:both;
    margin-bottom:10px
}

#plugin-hook .row label {
    margin-right:20px
}